/* Write style code here*/
.div{
    background-color: rgb(6, 6, 156);
    color: aqua;
    padding: 20px 0px 20px 10px; 
    border-bottom: 5px solid orange;
    
}
.main{
    border: 2px solid black;
    margin-top: 30px;
  
}
#input{
    border: none !important;
    border-bottom: 1px solid gray !important;
    display: inline !important;
    width: 95%;
    margin-top: 10px;
}
textarea{
    border: none !important;
    border-bottom: 1px solid gray !important;
    display: inline !important;
    width: 95%;
    margin-top: 10px;
}  